<?xml version="1.0"?>
<config>
    <modules>
        <Onpayio_Onpay>
            <version>1.0.0</version>
        </Onpayio_Onpay>
    </modules>
    <global>
        <models>
            <onpay>
                <class>Onpayio_Onpay_Model</version>
            </onpay>
        </models>
        <helpers>
            <onpay>
                <class>Onpayio_Onpay_Helper</version>
            </onpay>
        </helpers>
    </global>
    <default>
        <payment>
            <onpay_card>
                <model>onpay/method_card</model>
                <title>OnPay.io - Credit Card</title>
                <active>1</active>
                <order_status>pending</order_status>
                <order_status_after_payment>processing</order_status_after_payment>
                <sort_order>1</sort_order>
                <allowspecific>0</allowspecific>
                <instructions></instructions>
            </onpay_card>
        </payment>
    </default>
    <frontend>
        <routers>
            <onpay>
                <use>standard</use>
                <args>
                    <module>Onpayio_Onpay</module>
                    <frontname>onpay</frontname>
                </args>
            </onpay>
        </routers>
    </frontend>
</config>
