<?xml version="1.0"?>
<config>
    <modules>
        <Onpayio_Onpay>
            <version>1.0.0</version>
        </Onpayio_Onpay>
    </modules>
    <global>
        <models>
            <onpay>
                <class>Onpayio_Onpay_Model</version>
            </onpay>
        </models>
        <helpers>
            <onpay>
                <class>Onpayio_Onpay_Helper</version>
            </onpay>
        </helpers>
    </global>
</config>
